PORT=5000
FRONTEND_URL=http://localhost:3000
DATABASE_URL="pe"
JWT_SECRET_KEY=jwt_secret_key
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
STRIPE_SECRET_KEY=sk_test_GGc2VuQEH0TtrZ2SnhK005pIX8YSC
STRIPE_WEBHOOK_SECRET=whsec_ce22a22a3a08eabc0d0300eb3dbfaa